/* Estilos gerais */

body {
   background-color: #000;
   width: 100%;
   height: 100%;
}

.colocarDados {
   text-align: center;
}

.email, .senha {
   display: flex;
   margin: auto;
   background-color: #d9d9d9;
   border-radius: 55px;
   padding: 10px;
   width: 400px;
}

.senha {
   margin-top: 1%;
   color: #000;
}

.btnConfirmar, .btnVoltar {
   background-color: #00a1fc;
   color: #fff;
   width: 85px;        
   height: 20px;       
   text-decoration: none;
   font-family: Arial, Helvetica, sans-serif;
   border: 1px solid #d9d9d9;
   border-radius: 20px; 
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 20px auto;  
}

.btnConfirmar:hover, .btnVoltar:hover {
   background-color: #000;
   color: #00a1fc;
}

h1 {
   text-align: center;
   color: #00a1fc;
   font-size: 400%;
   font-family: Arial, Helvetica, sans-serif;
}

p {
   font-family: 'Roboto', sans-serif;
   color: #fff;
}

.fCriarLogin {
   align-items: center;
   justify-content: center;
   display: flex;
   margin-top: 220px;
   height: 80px;
   background-color: #000;
}

.portoF {
   margin-top: 0px;
   width: 220px;
   height: 100px;
}

/* Mensagem de sucesso */
.successMessage {
   color: green;
   font-size: 1em;
   margin-top: 20px;
   display: block;
}

/* Responsividade */

@media (max-width: 1200px) {
   .email, .senha {
       width: 300px;
   }
   
   .btnConfirmar, .btnVoltar {
       width: 75px;   
       height: 18px;  
   }
   
   .portoF {
       width: 200px;
       height: 90px;
   }
}

@media (max-width: 768px) {
   .email, .senha {
       width: 250px;
   }
   
   .btnConfirmar, .btnVoltar {
       width: 70px;   
       height: 16px;  
   }
   
   .fCriarLogin {
       margin-top: 150px;
       height: 60px;     
   }
   
   .portoF {
       width: 180px;
       height: 80px;
   }
   
   h1 {
       font-size: 300%; 
   }
}

@media (max-width: 480px) {
   .email, .senha {
       width: 200px;
   }
   
   .btnConfirmar, .btnVoltar {
       width: 60px;    
       height: 14px;   
   }
   
   .fCriarLogin {
       margin-top: 100px; 
       height: 50px;      
   }
   
   .portoF {
       width: 150px;
       height: 70px;
   }
   
   h1 {
       font-size: 250%; 
   }
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;            
}

.cabecalho {
    width: 280px;  
}

@media (max-width: 1200px) {
    .cabecalho {
        width: 240px;
    }
}

@media (max-width: 768px) {
    .cabecalho {
        width: 200px;
    }

    header {
        flex-direction: column;
        align-items: center;   
    }
}

@media (max-width: 480px) {
    .cabecalho {
        width: 160px;  
    }

    header {
        flex-direction: column;
        align-items: center;   
    }
}
