header {
    display: flex;
    justify-content: space-between; 
    align-items: center;            
}

.cabecalho {
    width: 280px;  
}



@media (max-width: 1200px) {
    .cabecalho {
        width: 240px;
    }
}

@media (max-width: 768px) {
    .cabecalho {
        width: 200px;
    }

    header {
        flex-direction: column;
        align-items: center;   
    }
}

@media (max-width: 480px) {
    .cabecalho {
        width: 160px;  
    }

    header {
        flex-direction: column;
        align-items: center;   
    }
}
