form {
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 
 .mensagem {
    color: red; 
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
 }
 
 .nomeCompleto, .email, .senha, .confirmarSenha {
    display: flex;
    margin: auto;
    background-color: #d9d9d9; 
    color: #000;               
    border-radius: 55px;       
    padding: 10px;              
    width: 400px;              
    box-sizing: border-box;  
    margin-bottom: 20px;     
 }
 
 .btnConfirmar {
    background-color: #00a1fc;
    color: #fff;
    width: 85px;        
    height: 20px;       
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #d9d9d9;
    border-radius: 20px; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;  
 }
 
 .btnVoltar {
    background-color: #00a1fc;
    color: #fff;
    width: 85px;        
    height: 18px;       
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #d9d9d9;
    border-radius: 20px; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;  
 }
 
 .btnConfirmar:hover, .btnVoltar:hover {
    background-color: #000; 
    color: #00a1fc;         
 }
 
 .fCriarConta {
     display: flex;
     justify-content: center;  
 }
 
 @media (max-width: 1200px) {
    .nomeCompleto, .email, .senha, .confirmarSenha {
        width: 350px;
    }
 
    .btnConfirmar {
        width: 75px;  
        height: 25px; 
    }
 
    .btnVoltar {
        width: 75px;  
        height: 22px; 
    }
 
    .cabecalho{
     margin-right: 80%;
      width: 180px;
    }
 
    .fCriarLogin{
     width: 180px;
    }
 }
 
 @media (max-width: 768px) {
    .nomeCompleto, .email, .senha, .confirmarSenha {
        width: 300px; 
    }
 
    .btnConfirmar, .btnVoltar {
        width: 70px;  
        height: 22px; 
    }
   
    .fCriarConta {
     width: 280px;
     margin: auto;
     margin-top: 150px;  
    }
 
    .cabecalho{
     margin-right: 80%;
      width: 180px;
    }
 
 }
 
 @media (max-width: 480px) {
    .nomeCompleto, .email, .senha, .confirmarSenha {
        width: 250px;  
    }
 
    .btnConfirmar, .btnVoltar {
        width: 60px;   
        height: 20px;  
    }
    
    .cabecalho{
     margin-right: 80%;
      width: 180px;
    }
 
    .fCriarLogin{
     width: 180px;
    }
 }
 