.container-porto{
    display: flex;
    justify-content: space-between;
}

#img-1 {
    width: 421.71px;
    height: 176.29px;
    margin-top: 50px;
    
}

#img-2 {
    width: 421.71px;
    height: 176.29px;
    margin-top: 50px;
}

#img-3 {
    width: 421.71px;
    height: 176.29px;
    margin-top: 400px;
    
}

#img-3-1 {
    width: 421.71px;
    height: 176.29px;
    margin-top: 350px;
}

