footer{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 70%;
    margin-bottom: -1%;
}

#porto {
    width: 208px; 
    right: 110px;
    margin-bottom: 0%;
}

#apple {
    order: 1;
    width: 110px;
    height: 31px;
    padding-top: 40%;
    margin-left: 0%;
}

#android {
    width: 106px;
    height: 29px;
    padding-top: 41%; 
    margin-right: 6px;
    margin-left: -3%;
}
