#integrantes{
    text-align: center;
    color: #00a1fc;
 }
.felipe, .pedro, .bruno{
    text-align: center;
}

.bruno img{
   width: 143px;
   height: 191px;
}

 .felipe img{
   width: 143px;
   height: 191px;
}

.pedro img{
   width: 143px;
   height: 191px;
 }

 #git{
   text-decoration: none;
   color: red;
   background-color: yellow;
 }
