.p-s-s{
    width: 350px;
    height: 310.5px;
    text-align: center;
    background-color: #d9d9d9;
    border-radius: 6.03px; 
    display: flex;
    float: left;
    flex-direction: column;
}

.p-s-s h4{
    font-size: 23px;
    color: #00a1fc;
    font-family: Arial, Helvetica, sans-serif;
}

.p-s-s p{
    font-size: 16px; 
    word-wrap: break-word;
    font-family: 'Roboto', sans-serif;
}

.p-s-s a{
    color: #000;
}

.p-s-s a:hover{
    color: #00a1fc;
}