h1{
    text-align: center;
    color: #00a1fc;
    font-size: 400%;
    font-family: Arial, Helvetica, sans-serif;
 }

 #parag-porto{
    font-size: 110%;
    text-align: center;
 }

 #parag-porto2{
    text-align: center;
    font-size: 125%;
 }

 p {
    font-family: 'Roboto', sans-serif;
 }