.rodape{
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* margin: 0 auto; */
    /* margin-bottom: -1%; */
}

.porto, img {
    width: 208px; 
    right: 110px;
    /* margin-bottom: 0%; */
}

.apple, img {
    order: 1;
    width: 192px;
    height: 31px;
    /* padding-top: 40%; */
    /* margin-left: 0%; */
}

/* .android, img { */
    /* width: 106px; */
    /* height: 29px; */
    /* padding-top: 41%;  */
    /* margin-right: 6px; */
    /* margin-left: -3%; */
/* } */